{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || 이재명 제 10공약</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>제 10공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        스마트강군 건설, 실용외교로 평화안보 실현
                                    </h3>
                                    <div class="blog-meta">
                                        <span class="published3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> 26 June, 2017 
                                        </span>
                                        <span class="published4"><i class="fa fa-comments-o" aria-hidden="true"></i> 01 Comment </span>
                                    </div>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <li>스마트 강군, 국익중심 실용외교로 한반도 비핵화 실현, 평화체제 제도화</li><br/>

                                        <h4>이행방법</h4>
                                        <h5>새4차 산업혁명 첨단기술로 스마트 강군 건설</h5>
                                        <li>
                                            핵·WMD 대응 억제역량 강화, 원자력추진잠수함 건조 및 우주사령부 창설 추진
                                        </li>
                                        <li>
                                            육·해·공 현행 3군 체제에서 해병대 독립 준4군 체제로 개편 추진
                                        </li>
                                        <li>
                                            징집병과 기술집약형 전투부사관 중에서 선택하는 ‘선택적 모병제’ 도입
                                        </li>
                                        <li>
                                            병사월급 최저임금 준용하여 2027년까지 200만원 이상 인상
                                        </li>
                                        <li>
                                            군 식당 민간인 직고용을 통한 군 급식 질 획기적 개선
                                        </li>
                                        <li>
                                            군 사관학교 성별 제한선발 제도 개선
                                        </li><br/>

                                        <h5>국익 중심의 실용 외교</h5>
                                        <li>
                                            미중 경쟁을 국익 증진의 기회로 활용하는 능동적이고 진취적인 외교 전개
                                        </li>
                                        <li>
                                            한미동맹의 포괄적 동맹 발전 실현
                                        </li>
                                        <li>
                                            한중간 실질 협력 증진 및 한반도에서 중국의 긍정적 역할 유도
                                        </li>
                                        <li>
                                            정경분리 투 트랙 기조의 실용적 한일관계 구축
                                        </li>
                                        <li>
                                            주변 4강을 넘어 다양한 국가와의 외교 영토 확대
                                        </li>
                                        <li>
                                            공정·포용의 동아시아 질서 구축
                                        </li>
                                        <li>
                                            G5 국가 비전을 뒷받침할 통상과 경제안보 외교를 강화
                                        </li>
                                        <li>
                                            포스트코로나 신질서 대응 새로운 외교플랫폼 구축
                                        </li>
                                        <li>
                                            국격에 맞는 국제개발협력 전개, 청년들의 국제무대 진출 지원
                                        </li>
                                        <li>
                                            재외동포기본법 제정 및 재외동포청 설치, 해외 한인 교육 지원
                                        </li><br/>

                                        <h5>한반도 비핵화와 평화체제 제도화</h5>
                                        <li>
                                            완전한 비핵화와 평화체제 제도화를 위한 실질적 진전 구축: 스냅백(약속위반시 제재복원)과 단계적 동시행동, 국제협력강화, 신뢰조성 및 적대해소를 통한 협상 여건 조
                                        </li>
                                        <li>
                                            첨단산업 중심의 한반도 평화경제 대전환 추진: 접경지역 글로벌 평화경제 클러스터 조성, 글로벌 공급망 남북협력 추진
                                        </li>
                                        <li>
                                            국민과 함께하는 남북협력 추진: 국민공감 대북정책 제도화, 청년세대 남북 교류협력 추진
                                        </li><br/>

                                        <h4>재원조달방안</h4>
                                        <li>
                                            중앙정부의 일반 재정 활용
                                        </li>
                                        <li>
                                            국방비 조정(전력운영비, 방위력개선비 합리화 등) 및 증가분 내 조달
                                        </li><br/>
                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i><span class="tag">Tags:</span> Political, <span class="vidos2">Video</span>, Politico, Donate, Blog</p>
                                </div>
                                <div class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p class="p-border">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                        <div class="blog-top blog-top-mrg">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Matt James</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-reply-all2">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form action="#">
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input class="form-control bmrg" required="" type="text" placeholder="Name*">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input class="form-control" required="" type="email" placeholder="Email*">
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" placeholder="Comment"></textarea>
                                                    <button class="submit" type="submit">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top2 two-mrg-two">
                                <h3>Recent Post</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top4">
                                <h3>Keyword</h3>
                                <div class="categori-list">
                                    <ul>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                        <li><a href="#">Elements</a></li>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe-area ptb-80 subscribe-nn-pb">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="subscribe blog-subscribe">
                                <div class="subscribe-text">
                                    <h3>NEWSLETTERS</h3>
                                </div>
                                <div class="subscribe-input">
                                    <form id="mc-form" class="mc-form">
                                        <input id="mc-email" autocomplete="off" placeholder="Enter your Email here" name="EMAIL" type="email">
                                        <button class="submit" type="submit">
                                            subscribe
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
