{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css'%}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css'%}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css'%}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css'%}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css'%}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

		<!-- modernizr JS
		============================================ -->
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js'%}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <div class="header-button floatright">
                                        <a href="../donate">로그인</a>
                                    </div>
                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://127.0.0.1:8000/candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">login</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>login</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="donate-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="donate-sidebar">
                                <div class="donate-sidebar-bottom">
                                    <h1>로그인</h1>
                                    <form action="../login/" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <input class="form-control2" name="id" placeholder="ID" type="text">
                                            </div><p/>
                                            <div class="col-lg-4">
                                                <input class="form-control2" name="pwd" placeholder="PASSWORD" type="password">
                                            </div><p/>
                                        </div>

                                        <button class="submit" type="submit" value="login">
                                            로그인
                                        </button>
                                        <button class="submit" type="submit" onclick="location.href= '../donate'">
                                            회원가입
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>






		<!-- jquery
		============================================ -->
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js'%}"></script>
        <!-- Popper JS
		============================================ -->
        <script src="{% static 'js/popper.min.js'%}"></script>
		<!-- bootstrap JS
		============================================ -->
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js'%}"></script>
		<!-- wow JS
		============================================ -->
        <script src="{% static 'js/wow.min.js'%}"></script>
		<!-- Nivo slider js
		============================================ -->
		<script src="{% static 'lib/js/jquery.nivo.slider.js'%}"></script>
		<script src="{% static 'lib/home.js'%}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js'%}"></script>
		<!-- main JS
		============================================ -->
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>
