{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || 윤석열 제 4공약</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href=""> {{ session_member_name }} 님 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../user/mypage"> MY PAGE </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            {% if session_member_name is None%}
                                            <li><a href="../../user/index"> 로그인</a></li>
                                            {% endif %}
                                            <li><a> 후보별 공약 </a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href="../../user/mypage"> MY PAGE</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">윤석열 후보 공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo/">Home</a></li>
                                    <li>제 4공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        스마트하고 공정하게 봉사하는 ‘디지털 플랫폼 정부’ 구현과 대통령실 개혁
                                    </h3>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>- 정부 및 지자체, 정부 산하기관 모든 사이트를 하나로 통합하여 국민들이 단일 사이트에 접속하면 모든 정보 및 민원을 처리할 수 있는 원사이트 토탈서비스 (One Site for All Service)를 제공</h5>
                                        <h5>- 빅 데이터와 AI기술을 활용, 미래에 발생 가능한 사회적 문제를 선제적으로 예견하고 대처하는 정부 구축</h5>
                                        <h5>- 플랫폼을 바탕으로 정책설계과정을 투명하게 공개, 현실과 가상의 융합공간(메타버스)을 매개로 국민 스스로 정책 설계, 집단지성의 숙의과정을 통해 국민과 함께 하는 가시적 수준의 국정운영 지향</h5>
                                        <h5>- 국정운영방식 대전환을 통한 국정운영 능력 강화</h5>
                                        <h5>- 대통령실 이전을 통해 국정운영의 효율성을 제고하고 제왕적대통령 잔재 청산</h5><br/>

                                        <h4>이행방법</h4>
                                        <h5>- 디지털 플랫폼 거버넌스 구축 청사진 설계와 관련 법 재개정 후, 통합 디지털 플랫폼 개발과 구축</h5>
                                        <h5>- 정부조직법 및 대통령실 직제(대통령령) 개정을 통한 청와대 해체 및 조직개편</h5>
                                        <h5>- 기존 청와대 부지는 국민과 전문가 여론 수렴하여 활용방안 마련</h5><br/>

                                        <h4>재원조달방안 등</h4>
                                        <h5>- 디지털 플랫폼 정부</h5>
                                        <li>기존 배정 예산으로 추진하되, 필요시 지출구조조정을 통해 재원마련. 플랫폼 구축 후 관리 운영비용은 감소될 예정</li><br/>
                                        <h5>- 대통령실 개혁</h5>
                                        <li>정부서울청사 활용으로 특별한 재원소요 없을 것으로 판단</li>
                                        <li>청와대 기존 부지 활용방안은 국민과 전문가 여론을 수렴 후 구체적 활용 방안이 수립되어야 추계 가능</li>

                                    </div>
                                </div>
                                <div  class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all2">
                                        <div id="blog-top" class="blog-top">
                                            {% for bbs in Posts %}
                                            <div  class="blog-img-details">
                                                <div class="blog-title" align="right">
                                                    <input type="hidden" name ="id" id= "id" value ="{{bbs.id}}">
                                                    <h3>{{bbs.writer_id}}</h3>
                                                    {% if bbs.writer_id == session_member_id %}
                                                    <button class="submit1" onclick="javascript:removePost({{bbs.id}})">삭제</button>
                                                    {% endif %}
                                                </div>
                                                <p>{{bbs.content}}</p>
                                                <span>{{bbs.create_date}}</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form method="post" action="../../bbs/postForm" name="form">
                                        {% csrf_token %}
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="hidden" name="candidate_num" id="candidate_num" value="{{ candidate_num }}">
                                                    <input type="hidden" name="detail_num" id="detail_num" value="{{ detail_num }}">
                                                    {% if session_member_id %}
                                                    <input class="form-control bmrg" required="" id="writer_id" name= "writer_id" type="text" value="{{ session_member_id }}" readonly>
                                                    {% else %}
                                                    <input class="form-control bmrg" required="" type="text" placeholder="name*" disabled/>
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" name="content" id="content" placeholder="Comment"></textarea>
                                                    {% if session_member_id %}
                                                    <button class="submit" id="postBtn" type="button" value = "post">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% else %}
                                                    <button class="submit" type="submit" value= "loginback" onclick="if(confirm('로그인 후 이용가능합니다. 로그인 페이지로 이동합니다.')){javascript: form.action='/user/index/';}">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>다른 후보자의 비슷한 공약</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="../../candidate1/detail09/">대통령 4년 중임제 개헌 추진, 국민 주권 실현을 위한 정치개혁과 사법개혁 </a></h3>
                                                <p>이재명 후보</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#"> </a></h3>
                                                <p> </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="post-details">
                                                <h3><a href="#"></a></h3>
                                                <p> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '#postBtn', function() {
                writer_id = $('#writer_id').val()
                candidate_num = $('#candidate_num').val()
                detail_num = $('#detail_num').val()
                content = $('#content').val()
                id = $('#id').val()
                if($.trim(content) ==""){
                    alert("내용을 입력해주세요.")
                    $('#content').val("");
                    return false;
                }else {
                    alert("댓글등록");
                }
                $.ajax({
                    url : '../../bbs/postForm/' ,
                    type : 'post' ,
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                            'candidate_num' : candidate_num ,
                            'detail_num' : detail_num ,
                            'writer_id' : writer_id ,
                            'content' : content ,
                             'id' : id } ,
                    dataType : 'json' ,
                    success : function(obj) {
                        alert($('#writer_id').val())
                        $('#blog-top').empty()
                        var txt = ""
                        $.each(obj, function(idx, data) {
                            txt += "<div class='blog-img-details'>"
                            txt += "<div class='blog-title' align='right'>"
                            txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                            txt += "<h3>" + data.writer_id + "</h3>"
                            if( data.writer_id == '{{session_member_id}}' ) {
                                txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                            }
                            txt += "</div>"
                            txt += "<p>" + data.content + "</p>"
                            txt += "<span>" + data.create_date + "</span>"
                            txt += "</div>"

                        })
                        $('#blog-top').html(txt)
                        $('#content').val("");
                    }
                })
            });

        })

        function removePost(id) {
            if(confirm('삭제하시겠습니까?')) {
            alert('remove')
            alert(id)
            $.ajax({
                url : '../../bbs/remove/' ,
                type : 'post' ,
                data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                        'candidate_num' : $('#candidate_num').val() ,
                        'detail_num' : $('#detail_num').val() ,
                        'writer_id' : $('#writer_id').val() ,
                        'content' : $('#content').val() ,
                         'id' : id } ,
                dataType : 'json' ,
                success : function(obj) {
                    alert($('#writer_id').val())
                    $('#blog-top').empty()
                    var txt = ""
                    $.each(obj, function(idx, data) {
                        txt += "<div class='blog-img-details'>"
                        txt += "<div class='blog-title' align='right'>"
                        txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                        txt += "<h3>" + data.writer_id + "</h3>"
                        if( data.writer_id == '{{session_member_id}}' ) {
                            txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                        }
                        txt += "</div>"
                        txt += "<p>" + data.content + "</p>"
                        txt += "<span>" + data.create_date + "</span>"
                        txt += "</div>"
                    })
                    $('#blog-top').html(txt)
                    $('#content').val("");
                }

            })
            }
            else {
            return false ;
            }

        }

    </script>
    </body>
</html>
