{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Blog Two Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">blog details</h2>
                                <ul>
                                    <li><a href="../../whovo/">Home</a></li>
                                    <li>blog details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        지속가능한 좋은 일자리 창출
                                    </h3>
                                    <div class="blog-meta">
                                        <span class="published3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> 26 June, 2017 
                                        </span>
                                        <span class="published4"><i class="fa fa-comments-o" aria-hidden="true"></i> 01 Comment </span>
                                    </div>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>성장-복지-일자리의 선순환 구조 및 일자리 창출 생태계를 조성하여, 지속 가능한 좋은 일자리를 창출</h5><br/>
                                        <h4>이행방법</h4>
                                        <h5>- 정부의 정책목표를 좋은 일자리 창출에 두고, 산업정책, 교육정책, 노동정책, 복지정책 등 제반 경제사회정책을 연계 추진</h5>
                                        <h5>- 사회서비스 추진체계 개편</h5><br/>

                                        <h4>1) 일자리 창출 패러다임 전환</h4>
                                        <h5>- 규제개혁 전담기구 통한 규제 혁신으로 기업투자 활성화</h5>
                                        <li>산업화시대의 규제는 디지털 전환시대의 일자리 창출을 방해</li><p/>
                                        <h5>- 고용친화적 환경조성으로 양질의 일자리 창출 기반 조성</h5>
                                        <li>근로시간 등 노사자율 결정분야 확대, 연공급 임금체계를 유연하고 공정한 세대상생형 임금체계로 개선, 합리적 노사관계의 정립</li><br/>

                                        <h4>2) 기업 성장에 의한 민간주도 일자리 창출</h4>
                                        <h5>- 스타트업이 강소기업으로, 중소기업이 중견기업과 대기업으로 성장할 수 있도록 세제, 자금 지원, R&D 기술 지원, 디지털 전환 지원 강화</h5>
                                        <li>국제경쟁력이 있거나 성장을 기대할 수 있는 중소기업을 집중 지원</li>
                                        <li>기존의 R&D방식을 기업-정부-대학 간 R&D 삼각협력 체제로 개편하여 기술창업 활성화 및 스타트업 집중 지원</li><p/>
                                        <h5>- 고용 효과가 큰 비대면, 의료, 문화콘텐츠 분야의 벤처기업을 집중지원하여 국제경쟁력이 있는 강소기업, 유니콘 기업으로 육성</h5>
                                        <h5>- 중소기업에서 중견기업으로 성장하면서 가해지는 규제를 유예하거나 폐지하여, 기업의 성장 동기를 저해하는 요인을 제거</h5>
                                        <li>불필요한 규제를 폐지하고, 축소되는 혜택은 일정 기간 유예</li><p/>
                                        <h5>- 국내외 글로벌 선도기업의 첨단투자유치에 과감하고 포괄적인 지원 제공</h5><br/>

                                        <h4>3) 사회서비스 일자리 창출</h4>
                                        <h5>- 보건, 복지, 고용, 돌봄 등 사회서비스 복지 확대와 사회서비스 품질 고도화로 양질의 사회서비스 일자리 창출 활성화</h5>
                                        <li>전 생애 주기 다양한 신규서비스 수요 발굴과 이용계층의 점진적 확대</li>
                                        <li>사회서비스 디지털 고도화 및 복지기술(well-tech) 기반의 서비스 전환과 관련 인력 확충</li>
                                        <li>사회서비스 공급기관 다원화 및 사회서비스 인력 처우개선</li><br/>

                                        <h4>4) 든든한 일자리 이어주기</h4>
                                        <h5>- 고용서비스 혁신을 통한 일자리 매칭 고도화</h5>
                                        <h5>- 기업이 필요로 하는 숙련인력의 원활한 공급</h5>
                                        <li>4차 산업혁명을 견인할 인재양성 시스템 구축</li>
                                        <li>교육훈련체제 혁신으로 현장 중심 맞춤형 인재 양성</li><p/>
                                        <h5>- 전 국민의 생애단계별 직업능력개발체제 구축으로 취업 역량 향상</h5>
                                        <h5>- 고용서비스, 직업훈련, 보육ㆍ돌봄의 융합적 사회서비스 제공으로 일자리 단절 방지</h5><br/>

                                        <h4>재원조달방안 등</h4>
                                        <h5>- 세출구조조정, 일반재정 및 고용보험기금 확충</h5>
                                        <h5>- 사회서비스 추진체계 개편</h5>



                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i><span class="tag">Tags:</span> Political, <span class="vidos2">Video</span>, Politico, Donate, Blog</p>
                                </div>
                                <div class="blog-share">
                                    <p><i class="fa fa-share-alt" aria-hidden="true"></i><span class="tag">Share:</span></p>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all">
                                        <div class="blog-top">
                                            <img src="{% static 'img/blog/30.jpg' %}" alt="">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p class="p-border">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                        <div class="blog-top blog-top-mrg">
                                            <img src="{% static 'img/blog/31.jpg' %}" alt="">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Matt James</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-reply-all2">
                                        <div class="blog-top">
                                            <img src="{% static 'img/blog/32.jpg' %}" alt="">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form action="#">
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input class="form-control bmrg" required="" type="text" placeholder="Name*">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input class="form-control" required="" type="email" placeholder="Email*">
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" placeholder="Comment"></textarea>
                                                    <button class="submit" type="submit">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top2 two-mrg-two">
                                <h3>Issues Categories</h3>
                                <div class="cat-one">
                                    <ul>
                                        <li><a href="#">Political News</a></li>
                                        <li><a href="#">Financial News</a></li>
                                        <li><a href="#">Country's news</a></li>
                                        <li><a href="#">International News</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Last News</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Recent Post</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top4">
                                <h3>Keyword</h3>
                                <div class="categori-list">
                                    <ul>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                        <li><a href="#">Elements</a></li>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe-area ptb-80 subscribe-nn-pb">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="subscribe blog-subscribe">
                                <div class="subscribe-text">
                                    <h3>NEWSLETTERS</h3>
                                </div>
                                <div class="subscribe-input">
                                    <form id="mc-form" class="mc-form">
                                        <input id="mc-email" autocomplete="off" placeholder="Enter your Email here" name="EMAIL" type="email">
                                        <button class="submit" type="submit">
                                            subscribe
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
