{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Blog Two Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate1/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index/">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index/">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index/">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo/">Home</a></li>
                                    <li>제 5공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        과학기술 추격국가에서 원천기술 선도국가로
                                    </h3>
                                    <div class="blog-meta">
                                        <span class="published3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> 26 June, 2017 
                                        </span>
                                        <span class="published4"><i class="fa fa-comments-o" aria-hidden="true"></i> 01 Comment </span>
                                    </div>
                                    <div class="blog-content"> 
                                        <h4>목표</h4>
                                        <h5>- 정부의 과학기술 리더십 강화, 데이터에 근거한 국정 운영</h5>
                                        <h5>- 정치와 과학의 영역 분리로 정치적 중립성 보장</h5>
                                        <h5>- 지원하되 간섭하지 않는 자율적인 연구환경 확립</h5>
                                        <h5>- 연구관리 시스템을 미래 선도형으로 혁신</h5>
                                        <h5>- 청년 과학인들의 도전과 기회의 장 확대</h5><br/>

                                        <h4>이행방법</h4>
                                        <h5>- 정부의 과학기술 리더십 강화, 데이터에 근거한 국정 운영</h5>
                                        <li>과학기술 혁신을 위한 법률 제정 및 개정 (인수위에서 일괄 제출)</li>
                                        <li>대통령 직속 민‧관 과학기술위원회 신설</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;연구자, 개발자, 기업 현장의 전문가, 과학기술 행정가들로 구성된 민‧관 합동위원회를 통해 국가과학기술에 대한 전략 로드맵을 수립</h7><br/><br/>

                                        <h5>- 정치와 과학의 영역 분리로 정치적 중립성 보장</h5>
                                        <li>장기 연구사업 제도 도입</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;장기 연구과제를 선정하고, 정권에 따라 변경‧폐지 못하도록 제도화</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;연구 기간 내 꾸준한 예산 지원이 이루어지도록 계획 초기부터 목표, 종료시점, 지원 규모 명확화</h7><br/><br/>

                                        <h5>- 지원하되 간섭하지 않는 자율적인 연구환경 확립</h5>
                                        <li>유연한 연구비 집행 시스템 및 국제 기준의 평가검증 시스템 도입으로 정부가 지원은 하되 간섭하지 않는 연구 체계 확립</li>
                                        <li>국제공동연구 활성화, 해외 우수 연구기관과 다국적 기업의 R&D 센터 유치를 통해 글로벌 기술동맹 강화</li>
                                        <li>산‧학‧연의 자유로운 참여와 융합연구 활성화</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;주요 국책연구기관과 과학기술특성화대학 중심으로 개방형 융합연구플랫폼 구축</h7><br/><br/>

                                        <h5>- 연구관리 시스템을 미래 선도형으로 혁신</h5>
                                        <li>창의적‧도전적 연구를 자유롭게 할 수 있도록 연구관리 시스템 개선</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;모험적 연구와 실험의 실패 용인</h7><p/>
                                        <li>국가적 난제와 미래 문제 해결 집중</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;감염병, 미세먼지, 탄소중립, 저출산·고령화 등 중장기적인 국가 과제 해결</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;당면한 소재·부품·장비(소부장) 산업 경쟁력 제고</h7><br/><br/>

                                        <h5>- 청년 과학인들의 도전과 기회의 장 확대</h5>
                                        <li>고급 인재 육성을 위해 첨단기술 분야별로 대학과 기업이 함께하는 전문교육 과정 개설</li>
                                        <li>청년 과학인들을 위한 연구 기회의 확대, 평가의 공정성 제고, 결과에 대한 정당한 보상체계를 확립</li><br/>

                                        <h4>재원조달방안 등</h4>
                                        <h5>- 일반, 특별회계 및 기금 예산 편성 확대</h5>
                                        <h5>- 과학기술 기반 혁신 일자리 창출을 통한 세입 확충</h5>
                                        <h5>- 공약 우선순위는 지출효율화(재량지출 감축, 성과를 반영한 조정 등)를 추진하고, 이후 필요시 재정당국 및 국회와 협의</h5>



                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i><span class="tag">Tags:</span> Political, <span class="vidos2">Video</span>, Politico, Donate, Blog</p>
                                </div>
                                <div  class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all2">
                                        <div id="blog-top" class="blog-top">
                                            {% for bbs in Posts %}
                                            <div  class="blog-img-details">
                                                <div class="blog-title" align="right">
                                                    <h3>{{bbs.writer_id}}</h3>
                                                    <button class="submit1">삭제</button>
                                                </div>
                                                <p>{{bbs.content}}</p>
                                                <span>{{bbs.create_date}}</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form method="post" action="../../bbs/postForm" name="form">
                                        {% csrf_token %}
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="hidden" name="candidate_num" id="candidate_num" value="{{ candidate_num }}">
                                                    <input type="hidden" name="detail_num" id="detail_num" value="{{ detail_num }}">
                                                    {% if session_member_id %}
                                                    <input class="form-control bmrg" required="" id="writer_id" name= "writer_id" type="text" value="{{ session_member_id }}" readonly>
                                                    {% else %}
                                                    <input class="form-control bmrg" required="" type="text" placeholder="name*" disabled/>
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" name="content" id="content" placeholder="Comment"></textarea>
                                                    {% if session_member_id %}
                                                    <button class="submit" id="postBtn" type="button" value = "post">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% else %}
                                                    <button class="submit" type="submit" value= "loginback" onclick="if(confirm('로그인 후 이용가능합니다. 로그인 페이지로 이동합니다.')){javascript: form.action='/user/index/';}">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Recent Post</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top4">
                                <h3>Keyword</h3>
                                <div class="categori-list">
                                    <ul>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                        <li><a href="#">Elements</a></li>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe-area ptb-80 subscribe-nn-pb">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="subscribe blog-subscribe">
                                <div class="subscribe-text">
                                    <h3>NEWSLETTERS</h3>
                                </div>
                                <div class="subscribe-input">
                                    <form id="mc-form" class="mc-form">
                                        <input id="mc-email" autocomplete="off" placeholder="Enter your Email here" name="EMAIL" type="email">
                                        <button class="submit" type="submit">
                                            subscribe
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#postBtn').click(function() {
                alert('댓글입력됨')
                writer_id = $('#writer_id').val()
                candidate_num = $('#candidate_num').val()
                detail_num = $('#detail_num').val()
                content = $('#content').val()
                $.ajax({
                    url : '../../bbs/postForm/' ,
                    type : 'post' ,
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                            'candidate_num' : candidate_num ,
                            'detail_num' : detail_num ,
                            'writer_id' : writer_id ,
                            'content' : content } ,
                    dataType : 'json' ,
                    success : function(obj) {
                        $('#blog-top').empty()
                        var txt = ""
                        $.each(obj, function(idx, data) {
                            txt += "<div class='blog-img-details'>"
                            txt += "<div class='blog-title' align='right'>"
                            txt += "<h3>" + data.writer_id + "</h3>"
                            txt += "<button class='submit1'>삭제</button>"
                            txt += "</div>"
                            txt += "<p>" + data.content + "</p>"
                            txt += "<span>" + data.create_date + "</span>"
                            txt += "</div>"
                        })
                        $('#blog-top').html(txt)
                    }
                })
            });
        })

    </script>
    </body>
</html>
