<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action ="../join/" method="post">
        {% csrf_token %}
        ID : <input type="text" name="id"><br/>
        PWD : <input type="password" name="pwd"><br/>
        이름 : <input type="text" name="name"><br/>
        자신이 지지하는 정당을 입력해주세요 :<br/>
        <input type="radio" name="poli" value="국민의힘"><label for="국민의힘">국민의힘</label><br/>
        <input type="radio" name="poli" value="더불어민주당"><label for="더불어민주당">더불어민주당</label><br>
        <input type="radio" name="poli" value="국민의당"><label for="국민의당">국민의당</label><br>
        <input type="radio" name="poli" value="정의당"><label for="정의당">정의당</label><br>
        <input type="radio" name="poli" value="지지정당없음"><label for="지지정당없음">지지정당없음</label><br>
        년도 입력해주세요 : <input type="number" name="age"><br/>
        <input type="submit" value="join">
    </form>


</body>
</html>