{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Blog Two Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>제 7공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        맞춤교육, 문화다양성, 표현의 자유가 보장되는 나라
                                    </h3>
                                    <div class="blog-meta">
                                        <span class="published3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> 26 June, 2017 
                                        </span>
                                        <span class="published4"><i class="fa fa-comments-o" aria-hidden="true"></i> 01 Comment </span>
                                    </div>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>유아부터 대학까지 미래형 맞춤교육, 직업교육 강화, 대학서열 완화로 사교육비 경감</h5>
                                        <h5>문화다양성 증진, 표현의 자유 보장</h5></br>
                                        <h4>이행방법</h4>
                                        <h5>포스트 코로나 시대를 여는 맞춤교육</h5>
                                        <li>한반 20명 미래형 학교</li>
                                        <h7>&nbsp;&nbsp;·&nbsp;&nbsp;수업과 평가 혁신</h7></br>
                                        <h7>&nbsp;&nbsp;·&nbsp;&nbsp;변혁적 역량 중심 교육과정</h7>
                                        <li>동그라미 작은 학교 확대</li>
                                        <h7>&nbsp;&nbsp;·&nbsp;&nbsp;냉난방‧화장실‧식수대 등 가정보다 편안한 학교</h7>
                                        <li>서울대 10개 만들기, 고등교육재정교부금법 제정, 전문대부터 무상교육 </li>
                                        <li>작지만 강한 미래대학 육성</li>
                                        <h7>&nbsp;&nbsp;·&nbsp;&nbsp;현행 대학기본역량진단 폐지, 정원 일괄조정</h7></br>
                                        <h5>출발선 평등 위한 아동돌봄, 모두의 탁월성 키우는 책임교육, 민주적 학교</h5>
                                        <li>국공립유치원 확충, 유보통합, 유아 3년 무상의무교육, 국가책임 아동돌봄</li>
                                        <li>3단계 중층 기본학력 보장 시스템, 학생 맞춤형 지원 확대, 고교체제 개편</li>
                                        <li>학교구성원의 참여 보장, 사립학교의 민주적 운영</li>
                                        <li>노동인권교육 활성화</li></br>
                                        <h5>노동 존중사회 위한 직업교육, 대입제도 개편 및 사교육 개혁, 평생교육 강화</h5>
                                        <li>고졸 첫 임금 250만원, 정부부터 고졸채용 앞장, 전문대 재정지원 확대</li>
                                        <li>수능 절대평가 확대 및 자격고사화, 학원 일요휴무제, 학력학벌차별금지법</li>
                                        <li>모두의 자아실현 위한 평생교육: 시민학습공동체 육성 및 지원</li></br>
                                        <h5>‘우리동네 문화센터’ 조성</h5>
                                        <li>읍면동 단위의 우리동네 문화센터 조성</li>
                                        <li>문화적 지역재생: 유휴공간 및 폐시설에 우리동네 미술관, 도서관, 문화예술 교육시설 등 문화 기반시설 조성, 예술인 창작공간 조성, 예술인 공공 임대주택 공급</li></br>
                                        <h5>OTT 콘텐츠쿼터제</h5>
                                        <li>모든 OTT에 국내 콘텐츠(영화, 드라마, 애니메이션 등) 30% 이상 구성 의무화</li>
                                        <li>국내 OTT의 경쟁력 제고, 해외 OTT의 국내 콘텐츠 투자 확대 유도 </li></br>
                                        <h5>국민의 손으로 공영방송 이사 선출, 사장 추천</h5>
                                        <li>방송통신위원회에 지역·성별·연령 등 균형있게 선정한 ‘이사추천국민위원회’ 설치</li>
                                        <li>이사추천국민위원회가 KBS, MBC, EBS 등 공영방송 이사 후보자를 대상으로 면접을 실시하고, 투표를 통해 이사 선출</li></br>
                                        <h5>현장 중심 과학기술 연구개발, 보편적 정보접근권 보장, 시민의 권리 확립</h5>
                                        <li>과기부총리 신설, 과기부 간부급 보직 개방 확대, 장기 기술전략 위임제도 도입</li>
                                        <li>PBS(연구과제중심제도) 폐지, 출연연 연구비 70%는 정부 책임으로</li>
                                        <li>IT노동자 포괄임금제 폐지, 일가정 양립 지원 등 여성과학기술인 지원 강화</li>
                                        <li>주민참여형 혁신연구허브를 거점국립대 설치</li>
                                        <li>1만원대 전국민 무상 인터넷 도입 및 이동통신비 원가공개</li>
                                        <li>알고리즘 투명화 및 설명가능 인공지능 장려</li>
                                        <li>전자제품에 ‘수리할 권리’ 보장</li>
                                        <li>‘종이 없는 행정’과 탈탄소 기반 디지털 전환 실현</li>
                                        <li>빅테크 기업의 운영체제(OS) 갑질 금지, 오픈소스SW 이용 활성화 및 산업 육성</li></br>
                                        <h4>재원조달방식 등</h4>
                                        <h5>일반회계, 특별회계, 교부금 등 활용</h5>
                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i><span class="tag">Tags:</span> Political, <span class="vidos2">Video</span>, Politico, Donate, Blog</p>
                                </div>

                                <div class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p class="p-border">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                        <div class="blog-top blog-top-mrg">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Matt James</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-reply-all2">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form action="#">
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input class="form-control bmrg" required="" type="text" placeholder="Name*">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input class="form-control" required="" type="email" placeholder="Email*">
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" placeholder="Comment"></textarea>
                                                    <button class="submit" type="submit">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top2 two-mrg-two">
                                <h3>Issues Categories</h3>
                                <div class="cat-one">
                                    <ul>
                                        <li><a href="#">Political News</a></li>
                                        <li><a href="#">Financial News</a></li>
                                        <li><a href="#">Country's news</a></li>
                                        <li><a href="#">International News</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Last News</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Recent Post</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top4">
                                <h3>Keyword</h3>
                                <div class="categori-list">
                                    <ul>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                        <li><a href="#">Elements</a></li>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe-area ptb-80 subscribe-nn-pb">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="subscribe blog-subscribe">
                                <div class="subscribe-text">
                                    <h3>NEWSLETTERS</h3>
                                </div>
                                <div class="subscribe-input">
                                    <form id="mc-form" class="mc-form">
                                        <input id="mc-email" autocomplete="off" placeholder="Enter your Email here" name="EMAIL" type="email">
                                        <button class="submit" type="submit">
                                            subscribe
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
