{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || 심상정 제 10공약</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href=""> {{ session_member_name }} 님 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../user/mypage"> MY PAGE </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a> 후보별 공약 </a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href="../../user/mypage"> MY PAGE</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>제 10공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        평화와 공생의 한반도와 국제사회
                                    </h3>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>다차원적 평화의 제도화: 남북기본협정-한반도평화협정-동아시아안보협력체-국제사회 연대회의(PSCS)</h5><br/>
                                        <h5> 남북 평화·공생의 제도화·역진 불가능한 안정화</h5><br/>
                                        <h5> 한반도평화프로세스의 복원, 실질적 진전 통한 한반도 비핵·평화체제</h5><br/>
                                        <h5> 평화·공생·기후협력 공고화를 위한 동아시아-국제사회 새 질서 기반 형성</h5><br/>
                                        <h5> 인간안보, 공동안보로 진짜 안보 달성</h5><br/>

                                        <h4>이행방법</h4>

                                        <h5>한반도평화프로세스 재개와 본격화</h5>
                                        <li>남·북·미·중 4자 정상의 ‘평화선언’ 추진</li>
                                        <li>평화선언의 주요 내용</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;북한의 핵활동 동결-대북제재 완화 등 초기 동시 행동 합의</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;4자 평화회담 개시</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;비핵화-평화체제 전환의 단계적·병행적 추진 원칙 확인</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;상대체제 존중-흡수통일 및 무력에</h7><br/>
                                        <li>4자 평화회담 통해 한반도평화프로세스 추진과 달성 : 북·미에 맡겨두지 않고 한국도 중요 주체로 참가</li><br/>

                                        <h5> 흡수통일 배격, ‘평화적 공존’, ‘과정으로서의 통일’의 원칙 제도화</h5>
                                        <li>평화와 협력의 제도화-항구화, 점진적 과정으로서의 통일, 평화적 통일의 정신과 내용을 큰 기조로 하는 남북기본협정 체결, 국회에서 비준 동의</li>
                                        <li>경협이 정치·군사적 상황에 흔들리지 않고, 일부에게만 대박이 아니라 노동자, 청년 등 대다수에게 이익이 되도록 ‘남북경제사회협력강화협정’ 체결, 국회에서 비준 동의</li><br/>

                                        <h5> 군비증강 대결 중지 + 기후위기 협력 증진의 ‘그린 데탕트’ 추진</h5>
                                        <li>남북 군비증강 대결 중지와 남북 재생에너지 협력, 산림협력 등을 결합한 ‘(신) 한반도 그린 데탕트’ 제안, 공동 청사진 마련</li>
                                        <li>‘동아시아 그린 데탕트’ 추진</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;6자회담 핵심 의제로 기후위기와 군비증강 대결 극복을 위한 협력 기제로서 기후위기 극복 탄소감축에 군사부문 활동도 포함</h7><br/>
                                        <li>군비증강 대결 중지</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;과도하고 불필요한 전력증강계획 수정 (경항모와 항모전단 중단 등)</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;병사 봉급 인상 등 장병 복무 여건 개선 증액 외 불필요 예산 감축</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;동결 및 감축 예산(2021년 국방비 수준 동결 시 5년간 약 51조 원)을 청년 복지예산, 기후위기 대처, 남북협력기금 등으로 활용</h7><br/><br/>

                                        <h5> 구태의연한 안보정책 전환, 인간안보-공동안보로 전환</h5>
                                        <li>청년 남성과 그 부모, 병사와 하급 간부의 희생을 강요하는 국가안보로부터 원하는 청년에게 기회가 되고 ‘제복 입은 시민’이 주역과 목적이 되는 ‘인간안보’로 전환</li>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp;‘한국형 모병제’ 도입-30만 명 정예강군 달성</h7><br/>
                                        <h7>&nbsp;&nbsp;‧&nbsp;&nbsp;&nbsp; 병사에게 최저임금 보장 등 ‘군 장병이 행복한 병영’</h7><br/>
                                        <li>경항모·핵추진잠수함 등 ‘안보 사치’, 보수 정부 능가 군비증강에 대한 북의 맞대응에 따른 ‘안보 딜레마’에서 벗어나 상대의 안보 우려 인정, 협력 통해 모두의 ‘공동안보’ 달성</li>
                                        <li>2030년 국가 온실가스 감축목표를 2010년 대비 50% 이상으로 상향</li>
                                        <li>노동자, 시민단체, 정부, 산업계가 참여하는 '정의로운 일자리 전환 위원회' 설치</li><br/>

                                        <h4>이행기간</h4>
                                        <h5>임기 내, 한국형 모병제의 경우 2030년대 완전모병제 완료</h5><br/>

                                        <h4>재원조달방안 등</h4>
                                        <h5>불요불급한 군비증강 중지 및 병력감축 등으로 예산 절감</h5>
                                        <h5>일반회계 및 남북협력기금 활용</h5>
                                    </div>
                                </div>

                                <div  class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all2">
                                        <div id="blog-top" class="blog-top">
                                            {% for bbs in Posts %}
                                            <div  class="blog-img-details">
                                                <div class="blog-title" align="right">
                                                    <input type="hidden" name ="id" id= "id" value ="{{bbs.id}}">
                                                    <h3>{{bbs.writer_id}}</h3>
                                                    {% if bbs.writer_id == session_member_id %}
                                                    <button class="submit1" onclick="javascript:removePost({{bbs.id}})">삭제</button>
                                                    {% endif %}
                                                </div>
                                                <p>{{bbs.content}}</p>
                                                <span>{{bbs.create_date}}</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form method="post" action="../../bbs/postForm" name="form">
                                        {% csrf_token %}
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="hidden" name="candidate_num" id="candidate_num" value="{{ candidate_num }}">
                                                    <input type="hidden" name="detail_num" id="detail_num" value="{{ detail_num }}">
                                                    {% if session_member_id %}
                                                    <input class="form-control bmrg" required="" id="writer_id" name= "writer_id" type="text" value="{{ session_member_id }}" readonly>
                                                    {% else %}
                                                    <input class="form-control bmrg" required="" type="text" placeholder="name*" disabled/>
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" name="content" id="content" placeholder="Comment"></textarea>
                                                    {% if session_member_id %}
                                                    <button class="submit" id="postBtn" type="button" value = "post">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% else %}
                                                    <button class="submit" type="submit" value= "loginback" onclick="if(confirm('로그인 후 이용가능합니다. 로그인 페이지로 이동합니다.')){javascript: form.action='/user/index/';}">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>다른 후보자의 비슷한 공약</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#"> 공약 제목 </a></h3>
                                                <p>후보자 이름</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>






		<!-- jquery
		============================================ -->
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ -->
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->
        <script src="{% static 'js/main.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '#postBtn', function() {
                writer_id = $('#writer_id').val()
                candidate_num = $('#candidate_num').val()
                detail_num = $('#detail_num').val()
                content = $('#content').val()
                id = $('#id').val()
                if(content ==""){
                    alert("내용을 입력해주세요.");
                    return false;
                }else {
                    alert("댓글등록");
                }
                $.ajax({
                    url : '../../bbs/postForm/' ,
                    type : 'post' ,
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                            'candidate_num' : candidate_num ,
                            'detail_num' : detail_num ,
                            'writer_id' : writer_id ,
                            'content' : content ,
                             'id' : id } ,
                    dataType : 'json' ,
                    success : function(obj) {
                        alert($('#writer_id').val())
                        $('#blog-top').empty()
                        var txt = ""
                        $.each(obj, function(idx, data) {
                            txt += "<div class='blog-img-details'>"
                            txt += "<div class='blog-title' align='right'>"
                            txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                            txt += "<h3>" + data.writer_id + "</h3>"
                            if( data.writer_id == '{{session_member_id}}' ) {
                                txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                            }
                            txt += "</div>"
                            txt += "<p>" + data.content + "</p>"
                            txt += "<span>" + data.create_date + "</span>"
                            txt += "</div>"

                        })
                        $('#blog-top').html(txt)
                        $('#content').val("");
                    }
                })
            });

        })

        function removePost(id) {
            if(confirm('삭제하시겠습니까?')) {
            alert('remove')
            alert(id)
            $.ajax({
                url : '../../bbs/remove/' ,
                type : 'post' ,
                data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                        'candidate_num' : $('#candidate_num').val() ,
                        'detail_num' : $('#detail_num').val() ,
                        'writer_id' : $('#writer_id').val() ,
                        'content' : $('#content').val() ,
                         'id' : id } ,
                dataType : 'json' ,
                success : function(obj) {
                    alert($('#writer_id').val())
                    $('#blog-top').empty()
                    var txt = ""
                    $.each(obj, function(idx, data) {
                        txt += "<div class='blog-img-details'>"
                        txt += "<div class='blog-title' align='right'>"
                        txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                        txt += "<h3>" + data.writer_id + "</h3>"
                        if( data.writer_id == '{{session_member_id}}' ) {
                            txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                        }
                        txt += "</div>"
                        txt += "<p>" + data.content + "</p>"
                        txt += "<span>" + data.create_date + "</span>"
                        txt += "</div>"
                    })
                    $('#blog-top').html(txt)
                    $('#content').val("");
                }

            })
            }
            else {
            return false ;
            }

        }

    </script>
    </body>
</html>
