{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Blog Two Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">


                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href=""> my page <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../user/change"> 회원정보 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">내가 쓴 글 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a> 후보별 공약 </a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a> my page </a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="#"> 회원정보 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> 내가 쓴 글 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>제 2공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        노동자, 자영업자, 농어민의 일할 권리와 기본권 보장
                                    </h3>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>모든 일하는 사람에게 노동권 보장</h5>
                                        <h5>자영업자 코로나 피해 부담 경감 및 골목경제 활성화, 농산어촌의 녹색대전환 시작</h5></br>
                                        <h4>이행방법</h4>
                                        <h5>‘일하는 시민’ 모두에게 노동기본권 보장</h5>
                                        <li>< 일하는 시민을 위한 기본법> 제정, 플랫폼·프리랜서·자영업자·특고 등 노동기본권 보장</li>
                                        <li>5인 미만 사업장 근로기준법 전면 적용, 비정규직 사용사유 제한, 동일가치 동일임금 법제화</li>
                                        <li>모든 시민에게 노조할 권리 보장, 노동조합 설립신고에서 정보제출로 단순화</li>
                                        <li>성평등교섭 의무화 및 성평등임금공시제 도입</li>
                                        <li>최저임금 인상, 최고임금법 제정, 정규직보다 높은 비정규직 ‘평등수당’ 도입</li>
                                        <li>단체협약 효력확장 도입, 원하청 공동사용자성 인정, 교섭창구단일화 제도 폐지·개선</li></br>
                                        <h5>주4일제 도입 및 쉴 권리 확대</h5>
                                        <li>2022년 사회적 공론화 및 합의→2023년 시범운영→2027년까지 입법 완료</li>
                                        <li>연차휴가 25일로 확대, 최소노동시간보장제 도입, 생애주기별 노동시간 선택제 도입</li>
                                        <li>전국민 상병수당(소득의 70%) 및 질병휴가 도입</li></br>
                                        <h5>원스톱 산재보험 도입 및 중대기업처벌법 제정</h5>
                                        <li>국민건강보험과 같이 병원에서 먼저 산재치료 및 요양을 받는 < 신청-승인 > 제도에서< 선보장 >제도로 전환, 산재보험 적용대상 확대</li>
                                        <li>중대재해기업처벌법 개정으로 적용범위 확대, 처벌 강화, 징벌적 손해배상 하한 도입, 인과관계 추정 규정, 양형절차 특례규정, 공무원 처벌규정 신설</li>
                                        <li>산업안전보건법, 취약대상별 특성에 따른 안전보건대책 마련, 건설안전특별법 제정</li>
                                        <li>위험의 외주화 금지, 과로사 예방 및 정신건강 보장, 노동자‧시민의 알권리, 참여권, 작 업중지권 보장</li></br>
                                        <h5>전국민일자리보장제</h5>
                                        <li>산업전환, 노인, 청년 등에게 생활임금 이상의 학습·경력개발(유지)형 국가일자리 제공</li>
                                        <li>일하는 시민 모두에게 평생학습 자기계발계좌(연간 150-300만원) 지원</li></br>
                                        <h5>코로나19 자영업자 손실보상·피해지원 확대, 골목상권 활성화</h5>
                                        <li>코로나19 손실보상금 확대, 자영업자 임대료 부담 경감, 자영업자 부채 이자 탕감 및 고통 분담 방안 마련,</li>
                                        <li>코로나19 특별재난연대세 부과 및 특별재난연대기금 조성</li>
                                        <li>온라인 플랫폼 독점 규제,‘온라인 플랫폼 공정화법’ 제정</li>
                                        <li>‘알고리즘 투명화법’ 제정</li>
                                        <li>‘허위 리뷰 방지법’ 제정</li>
                                        <li>골목상권 활성화를 위한 대규모 점포·복합쇼핑몰 규제 강화</li>
                                        <li>대규모 점포 의무휴일제 확대</li>
                                        <li>가맹점 분야 이익 배분 개선을 위한 최저이익보장제 도입</li>
                                        <li>상가 임대료 부담 완화·젠트리피케이션 방지</li>
                                        <li>자영업자 사회안전망 강화</li></br>
                                        <h5>농산어촌의 녹색대전환 시작</h5>
                                        <li>모든 농어민에게 월 30만 원 기본소득 지급, 연간 2.4조 규모의 공익형 직불제를 연간 5조원 규모로 확충</li>
                                        <li>‘국가식량주권 위원회’설치, 식량 자급률 법제화, 곡물자급률 30% 달성</li>
                                        <li>‘전국민 먹거리 기본법’ 제정</li>
                                        <li>유전자변형농식품의 완전표시제 시행</li>
                                        <li>생태농어업 비중 30% 이상 확대, 농약·화학비료사용을 50% 이상 감축</li>
                                        <li>농어업재해보험의 복구비 현실화로 실소득 손실액의 80%까지 지원</li></br>
                                        <h4>재원조달방안 등</h4>
                                        <h5>일반회계 및 기금 활용</h5>
                                    </div>
                                </div>

                                <div  class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all2">
                                        <div id="blog-top" class="blog-top">
                                            {% for bbs in Posts %}
                                            <div  class="blog-img-details">
                                                <div class="blog-title" align="right">
                                                    <input type="hidden" name ="id" id= "id" value ="{{bbs.id}}">
                                                    <h3>{{bbs.writer_id}}</h3>
                                                    {% if bbs.writer_id == session_member_id %}
                                                    <button class="submit1" onclick="javascript:removePost({{bbs.id}})">삭제</button>
                                                    {% endif %}
                                                </div>
                                                <p>{{bbs.content}}</p>
                                                <span>{{bbs.create_date}}</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form method="post" action="../../bbs/postForm" name="form">
                                        {% csrf_token %}
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="hidden" name="candidate_num" id="candidate_num" value="{{ candidate_num }}">
                                                    <input type="hidden" name="detail_num" id="detail_num" value="{{ detail_num }}">
                                                    {% if session_member_id %}
                                                    <input class="form-control bmrg" required="" id="writer_id" name= "writer_id" type="text" value="{{ session_member_id }}" readonly>
                                                    {% else %}
                                                    <input class="form-control bmrg" required="" type="text" placeholder="name*" disabled/>
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" name="content" id="content" placeholder="Comment"></textarea>
                                                    {% if session_member_id %}
                                                    <button class="submit" id="postBtn" type="button" value = "post">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% else %}
                                                    <button class="submit" type="submit" value= "loginback" onclick="if(confirm('로그인 후 이용가능합니다. 로그인 페이지로 이동합니다.')){javascript: form.action='/user/index/';}">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>다른 후보자의 비슷한 공약</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#"> 공약 제목 </a></h3>
                                                <p>후보자 이름</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('click', '#postBtn', function() {
                alert('댓글입력됨')
                writer_id = $('#writer_id').val()
                candidate_num = $('#candidate_num').val()
                detail_num = $('#detail_num').val()
                content = $('#content').val()
                id = $('#id').val()
                $.ajax({
                    url : '../../bbs/postForm/' ,
                    type : 'post' ,
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                            'candidate_num' : candidate_num ,
                            'detail_num' : detail_num ,
                            'writer_id' : writer_id ,
                            'content' : content ,
                             'id' : id } ,
                    dataType : 'json' ,
                    success : function(obj) {
                        alert($('#writer_id').val())
                        $('#blog-top').empty()
                        var txt = ""
                        $.each(obj, function(idx, data) {
                            txt += "<div class='blog-img-details'>"
                            txt += "<div class='blog-title' align='right'>"
                            txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                            txt += "<h3>" + data.writer_id + "</h3>"
                            if( data.writer_id == '{{session_member_id}}' ) {
                                txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                            }
                            txt += "</div>"
                            txt += "<p>" + data.content + "</p>"
                            txt += "<span>" + data.create_date + "</span>"
                            txt += "</div>"

                        })
                        $('#blog-top').html(txt)
                        $('#content').val("");
                    }
                })
            });

        })

        function removePost(id) {
            alert('remove')
            alert(id)
            $.ajax({
                url : '../../bbs/remove/' ,
                type : 'post' ,
                data : {'csrfmiddlewaretoken' : '{{csrf_token}}' ,
                        'candidate_num' : $('#candidate_num').val() ,
                        'detail_num' : $('#detail_num').val() ,
                        'writer_id' : $('#writer_id').val() ,
                        'content' : $('#content').val() ,
                         'id' : id } ,
                dataType : 'json' ,
                success : function(obj) {
                    alert($('#writer_id').val())
                    $('#blog-top').empty()
                    var txt = ""
                    $.each(obj, function(idx, data) {
                        txt += "<div class='blog-img-details'>"
                        txt += "<div class='blog-title' align='right'>"
                        txt += "<input type='hidden' name ='id' id= 'id' value ='"+ data.id +"'>"
                        txt += "<h3>" + data.writer_id + "</h3>"
                        if( data.writer_id == '{{session_member_id}}' ) {
                            txt += "<button class='submit1' onclick='javascript:removePost("+data.id+")'>삭제</button>"
                        }
                        txt += "</div>"
                        txt += "<p>" + data.content + "</p>"
                        txt += "<span>" + data.create_date + "</span>"
                        txt += "</div>"
                    })
                    $('#blog-top').html(txt)
                    $('#content').val("");
                }

            })

        }

    </script>
    </body>
</html>
