{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO || Blog Two Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon
		============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
		<!-- modernizr JS
		============================================ -->		
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    <div id="search" class="search-top floatleft">
                                       <input class="form-control input-lg" placeholder="Search" value="" name="search" type="text">
                                        <span class="search">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>

                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="../../events">event(extra page)</a></li>
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="breadcrumbs-area ptb-140 about-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">공약 세부사항</h2>
                                <ul>
                                    <li><a href="../../whovo">Home</a></li>
                                    <li>제 9공약</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-two-details-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="blog-container-inner">
                                <div class="visual-inner">
                                    <h3 class="blog-title">
                                        특권과 부패가 없는 정의로운 대한민국
                                    </h3>
                                    <div class="blog-meta">
                                        <span class="published3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> 26 June, 2017 
                                        </span>
                                        <span class="published4"><i class="fa fa-comments-o" aria-hidden="true"></i> 01 Comment </span>
                                    </div>
                                    <div class="blog-content">
                                        <h4>목표</h4>
                                        <h5>대권이 아니라 시민권이 강한 나라, 청와대 정부에서 혁신가형 정부로</h5>
                                        <h5>입법부, 행정부, 사법부 개혁으로 국민 주권 회복</h5><br/>

                                        <h4>이행방법</h4>
                                        <h5>법 앞의 평등, 시민을 위한 사법 민주화</h5>
                                        <li>제왕적 대법원장 체제 해체와 법원 민주화, 대법관과 헌법재판관 다양성 보장</li>
                                        <li>민주적 군사법제도 실현과 군인 권리 보호</li>
                                        <li>전관예우 근절과 법조비리 척결, 피의사실 공표 제한적 허용과 인권존중 수사과정 정착</li>
                                        <li>재벌 총수 사면, 황제노역, 유전무죄 특혜 근절</li>
                                        <li>국민 사법서비스 향상, 시민을 위한 국립 법학전문대학원 설치</li><br/>

                                        <h5>정치 개혁</h5>
                                        <li>100% 연동형 비례대표제 도입, 위성정당 재발 방지, 대통령선거 결선투표제 도입</li>
                                        <li>대통령 피선거권 연령 18세로 하향, 선거권 연령 16세로 하향, 미성년자 선거운동 허용, 정당가입 기준연령 폐지 및 청소년 당원 가입시 법정대리인 동의서 첨부 조항 삭제, 공무원·교원 정치적 기본권 보장, 지방공기업‧협동조합 직원 선거운동 허용, 일하는 시민의 참정권 보장, 국민발안제‧국민소환제 도입</li>
                                        <li>거대정당에 유리한 국고보조금 배분제도 개선, 고액 기탁금 개선, 정당 지역기반 강화</li>
                                        <li>규제 위주의 선거법 전면 개정, 예비후보자 등록기간 및 선거운동 방법 확대</li>
                                        <li>장애인의 투표소 접근권 보장 및 맞춤형 선거정보 제공, 시설 장애인의 참정권 보장</li><br/>
                                        <h5>국회 개혁</h5>
                                        <li>국회의원 징계에 민간위원 참여로 셀프징계 방지, 독립적 윤리감독관 도입으로 이해충돌 방지, 외부인사로 구성되는 국회의원보수산정위원회 설치로 셀프세비인상 방지, 직무관련성과 관계없이 모든 보유주식 백지신탁</li>
                                        <li>교섭단체 기준 완화, 국회운영의 시스템화, 예산결산특별위원회 개혁</li><br/>
                                        <h5>정부 개혁</h5>
                                        <li>청와대 비서실을 실무형 스탭 조직으로 축소, 국무총리 중심 내각 운영, 국무총리 국회추천제 도입, 제왕적 대통령제의 분권으로 의회중심제 전환의 기틀 마련
                                        <li>노동복지부총리 도입으로 ‘국가의 왼손’ 강화
                                        <li>남녀동수 내각, 세대연대 내각 원칙 실현</li>
                                        <li>적극적이고 능동적인 혁신가형 정부 실현</li>
                                        <li>고위공직자인사검증법 제정, 청와대의 사전검증 강화 및 검증자료의 국회제출 의무화,행정고시(5급 공개경쟁채용시험)‧경찰대‧소방간부후보생제도 폐지</li>
                                        <li>공공정보의 사전공개 및 수요자 중심 공개 원칙 실현</li>
                                        <li>공익목적 소송의 소송비용 면제 제도 도입, 공익신고자의 신원 보장 및 불이익 조치에 대한 보호 강화</li>
                                        <li>공익신고자보호법 적용대상 확대, 공익신고자 보상금 지급기준 상향(상한액 기준 폐지)</li>
                                        <li>대통령 직속 독립기구로 국가청렴위원회 부활</li>
                                        <li>공직윤리 법제의 통합 추진, 공직자 윤리관련 법제 강화, 공직자 재산공개 범위 확대 및 시민의 접근성 향상</li>
                                        <li>특수활동비 편성 최소화, 국가정보원 안보비 개선, 일정기간 경과 후 특수활동비 집행 내역의 국회보고 의무화, 특정업무경비 지출내역 공개</li><br/>
                                        <h5>경찰개혁, 공공기관 개혁</h5>
                                        <li>민주적 감독기구로 국가경찰위원회 실질화, 민주적 외부통제기구 신설, 정보경찰 폐지</li>
                                        <li>노동이사 비율 확대, 노동이사의 감사위원회 참여 의무화 등 실질적 권한 부여, 노동이사 활동보장의 공공기관 평가 반영</li>
                                        <li>공공기관 소재 지역주민 등이 참여하는 시민이사제 도입</li>
                                        <li>공공기관운영위원회에 국회 추천 민간위원 포함, 기획재정부의 공공기관 관리감독 권한 폐지</li><br/>

                                        <h4>이행기간</h4>
                                        <h5>임기 내</h5><br/>

                                        <h4>재원조달방안 등</h4>
                                        <h5>법·제도 개선</h5>

                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i><span class="tag">Tags:</span> Political, <span class="vidos2">Video</span>, Politico, Donate, Blog</p>
                                </div>

                                <div class="blog-comment">
                                    <p><i class="fa fa-comments" aria-hidden="true"></i>Write Comment:</p>
                                    <div class="blog-reply-all">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p class="p-border">Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                        <div class="blog-top blog-top-mrg">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Matt James</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-reply-all2">
                                        <div class="blog-top">
                                            <div class="blog-img-details">
                                                <div class="blog-title">
                                                    <h3>Jannatul Ferdaous</h3>
                                                    <a href="#">Reply</a>
                                                </div>
                                                <span>15 january 2015 At 10:30 pm</span>
                                                <p>Ne erat velit invidunt his. Eum in dicta veniam interesset, harum fuisset te nam, ea cum lupta definitionem. Vocibus suscipit prodesset vim ei, equidem perpetua eu per.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-input">
                                    <p><i class="fa fa-reply" aria-hidden="true"></i>Leave A Reply:</p>
                                    <form action="#">
                                        <div class="blog-from">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input class="form-control bmrg" required="" type="text" placeholder="Name*">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input class="form-control" required="" type="email" placeholder="Email*">
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" required="" placeholder="Comment"></textarea>
                                                    <button class="submit" type="submit">
                                                        Post Comment
                                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="issues-categoris issues-top2 two-mrg-two">
                                <h3>Issues Categories</h3>
                                <div class="cat-one">
                                    <ul>
                                        <li><a href="#">Political News</a></li>
                                        <li><a href="#">Financial News</a></li>
                                        <li><a href="#">Country's news</a></li>
                                        <li><a href="#">International News</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Last News</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top3 blog-two2">
                                <h3>Recent Post</h3>
                                <div class="event-sidebar-2">
                                    <div class="categori-list1">
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/5n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Boluptatem quia Ami </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/6n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this</p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/7n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Ami Tomari preomi </a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                        <div class="categori-list-one mrg-nn">
                                            <div class="categori-list-img">
                                                <a href="#"><img src="{% static 'img/event/8n.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="post-details">
                                                <h3><a href="#">Nemo enim ipsam</a></h3>
                                                <p>But I must explain to how all this </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="issues-categoris issues-top4">
                                <h3>Keyword</h3>
                                <div class="categori-list">
                                    <ul>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                        <li><a href="#">Elements</a></li>
                                        <li><a href="#">Political</a></li>
                                        <li><a href="#">Politico</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Issues</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe-area ptb-80 subscribe-nn-pb">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="subscribe blog-subscribe">
                                <div class="subscribe-text">
                                    <h3>NEWSLETTERS</h3>
                                </div>
                                <div class="subscribe-input">
                                    <form id="mc-form" class="mc-form">
                                        <input id="mc-email" autocomplete="off" placeholder="Enter your Email here" name="EMAIL" type="email">
                                        <button class="submit" type="submit">
                                            subscribe
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
        <!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
