{% load static %}

<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WHOVO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/www.ico' %}">
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'lib/css/nivo-slider.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'lib/css/preview.css' %}" type="text/css" media="screen" />
		<!-- chosen CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Magnific Popup CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <!-- modernizr JS
        ============================================ -->
        <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="wrapper">
            <header class="header-area">
                <div class="header-bottom stick-h2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo floatleft">
                                    <a href="../../whovo">
                                        <img alt="" src="{% static 'img/logo/whovologo.png' %}">
                                    </a>
                                </div>
                                <div class="header-search floatright">
                                    {% if session_member_name %}
                                    <div class="header-button floatright">
                                        <a href="../../user/logout">로그아웃</a>
                                    </div>
                                    {% else %}
                                    <div class="header-button floatright">
                                        <a href="../../user/index">로그인</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="main-menu floatright">
                                    <nav>
                                        <ul>
                                            <li><a href=""> 후보별 공약 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href=""> {{ session_member_name }} 님 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../user/mypage"> MY PAGE </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-menu-area d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul>
                                            <li><a>후보별 공약</a>
                                                <ul class="submenu-mainmenu">
                                                    <li>
                                                        <a href="../../candidate1/index">이재명 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate2/index">윤석열 후보 공약보기</a>
                                                    </li>
                                                    <li>
                                                        <a href="../../candidate3/index">심상정 후보 공약보기</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if session_member_name %}
                                            <li><a href="../../user/mypage"> MY PAGE</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
            <section class="slider-main-area bg-gray">
                <div class="main-slider an-si">
                    <div class="bend niceties preview-2">
                        <div id="ensign-nivoslider-2" class="slides">	
                            <img src="{% static 'img/slider/leeJM.png' %}" alt="" title="#slider-direction-1"  />
                            <img src="{% static 'img/slider/Yun.jpg' %}" alt="" title="#slider-direction-2"  />
                            <img src="{% static 'img/slider/Sim.jpg' %}" alt="" title="#slider-direction-3"  />
                        </div>
                        <!-- direction 1 -->
                        <div id="slider-direction-1" class="t-cn slider-direction Builder">
                            <div class="container">
                                    <!-- layer 3 -->
                                    <div class="layer-3">
                                        <a class="min1" href="../../candidate1/index">Read more</a>
                                    </div>
                            </div>
                        </div>
                        <!-- direction 2 -->
                        <div id="slider-direction-2" class="t-cn slider-direction Builder">
                            <div class="container">
                                    <!-- layer 3 -->
                                    <div class="layer-3">
                                        <a class="min1" href="../../candidate2/index">Read more</a>
                                    </div>
                            </div>
                        </div>
                        <!-- direction 3 -->
                        <div id="slider-direction-3" class="t-cn slider-direction Builder">
                            <div class="container">
                                    <!-- layer 3 -->
                                    <div class="layer-3">
                                        <a class="min1" href="../../candidate3/index">Read more</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="what-area section-margin ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center pb-30">
                            <div class="what-top">
                                <div class="section-title">
                                    <h1>Graph</h1>
                                    <div class="what-icon">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p>Our mission is to create a society in which an informed and active citizenry is sovereign and makes policy decisions based on the will of the majority.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Our Mission</h3>
                                    <p>To create a society in which an informed and active citizenry is sovereign and makes policy decisions based on the will.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Our Campaings</h3>
                                    <p>We oppose discrimination based on race, color, spiritual belief, gender, sexual orientation, age, physical ability, and origin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Our Election</h3>
                                    <p>We believe that our mission calls for non-traditional approaches, and we call for every citizen to participate in upcoming elections.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-street-view" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Join Volunteers</h3>
                                    <p>Volunteers is the backbone of our movement. Find out more about volunteering with our party and opportunities available.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Our Projects</h3>
                                    <p>We will build democracy through activism and education and change the law to ensure that political processes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-area-all mb-40">
                                <div class="offer-icon">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div class="offer-text">
                                    <h3>Communities</h3>
                                    <p>A sound and healthy state is one in which government recognizes and protects the independent responsibilities that belong.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="event-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center pb-30">
                            <div class="what-top">
                                <div class="section-title">
                                    <h1>News</h1>
                                    <div class="what-icon">
                                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="president indicator-style owl-carousel">
                        <div class="two-hover fst">
                            <div class="event-img">
                                <a href="http://www.idomin.com/news/articleView.html?idxno=786679">
                                    <img src="{% static 'img/event/LEE3.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <h3><a href="http://www.idomin.com/news/articleView.html?idxno=786679">"한국 기축통화국 가능성" 이재명 발언 근거 있다</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        23 Feb, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="http://biz.heraldcorp.com/view.php?ud=20220218000648">
                                    <img src="{% static 'img/event/YUN3.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="http://biz.heraldcorp.com/view.php?ud=20220218000648">"지역발전 막았다" vs "반대 안했다"…광주쇼핑몰 놓고 여야 공방</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        18 Feb, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="http://news.kmib.co.kr/article/view.asp?arcid=0016863751&code=61111111&cp=kd">
                                    <img src="{% static 'img/event/LEE2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <h3><a href="http://news.kmib.co.kr/article/view.asp?arcid=0016863751&code=61111111&cp=kd">‘이재명 옆집’ GH 합숙소 의혹…경기남부경찰청 수사</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        14 Mar, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="https://www.khan.co.kr/politics/election/article/202203022211001">
                                    <img src="{% static 'img/event/SIM2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="https://www.khan.co.kr/politics/election/article/202203022211001">심상정 “증세 없는 복지는 허구” VS 윤석열,이재명 “증세 없다”</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        2 May, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="https://www.hankyung.com/politics/article/2022030672247">
                                    <img src="{% static 'img/event/YUN1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="https://www.hankyung.com/politics/article/2022030672247">윤석열 "정부 맡겨준다면 김정은 버르장머리도 정신 들게 하겠다"</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        6 May, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="http://biz.heraldcorp.com/view.php?ud=20220314000343">
                                    <img src="{% static 'img/event/SN.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="http://biz.heraldcorp.com/view.php?ud=20220314000343">‘대장동 특검’ 가능성…‘윗선’ 수사 변수</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        14 May, 2017
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="http://www.dt.co.kr/contents.html?article_no=2021121702109919608005&ref=jeadan">
                                    <img src="{% static 'img/event/LEE1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="http://www.dt.co.kr/contents.html?article_no=2021121702109919608005&ref=jeadan">국힘 "이재명 `빼박`이다 싶을 때만 사과…상습도박·성매매, 부전자전인가"</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        17 Dec, 2021
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="https://www.chosun.com/politics/election2022/2022/02/28/GQU7JMRNWRCDLLGME62YMQCJPE/?utm_source=bigkinds&utm_medium=original&utm_campaign=news">
                                    <img src="{% static 'img/event/SIM1.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="https://www.chosun.com/politics/election2022/2022/02/28/GQU7JMRNWRCDLLGME62YMQCJPE/?utm_source=bigkinds&utm_medium=original&utm_campaign=news">심상정 “대통령은 도덕성, 난 털어서 먼지 한톨 안나와”</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        28 Feb, 2017
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="http://www.dt.co.kr/contents.html?article_no=2022030202109958079007&ref=jeadan">
                                    <img src="{% static 'img/event/YUN4.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="http://www.dt.co.kr/contents.html?article_no=2022030202109958079007&ref=jeadan">"김건희, 윤석열에 성상납 의심"… 김용민 막말 논란</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        2 May, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="two-hover">
                            <div class="event-img">
                                <a href="https://www.asiae.co.kr/article/2022022016174477519">
                                    <img src="{% static 'img/event/YUN2.png' %}" alt="">
                                </a>
                            </div>
                            <div class="event-text">
                                <div class="event-time">
                                </div>
                                <h3><a href="https://www.asiae.co.kr/article/2022022016174477519">송영길 "윤석열, 못된 언어로 깽판…盧 대통령 죽음에 책임없나"</a></h3>
                                <div class="event-month">
                                    <span class="published2">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        20 Feb, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="timeline-area ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="what-top line">
                                <div class="section-title">
                                    <h1>Political Timeline</h1>
                                    <div class="what-icon">
                                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="up">대통령 선거 관련 일정</p>
                            </div>
                        </div>
                        <div class="timeline-wraper fix">
                            <div class="sin-timeline col-lg-6 col-md-6 text-center">
                               <span class="timeline-date">02-13~02-14</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/regis.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령후보자 등록일</h3>
                                        <p>후보자 등록 기간 2월 13일(일)~2월 14일(월) (2일간, 오전9시 ~ 오후 6시)</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sin-timeline col-lg-6 col-md-6 text-center res-sin">
                               <span class="timeline-date">02-21</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/1st.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령선거 1차 토론회</h3>
                                        <p>1차 대통령 후보자 토론회(경제) 2월 21일(월) 오후 8시 LIVE MBC·KBS1·SBS 합동 생중계</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sin-timeline col-lg-6 col-md-6 text-center res-sin">
                               <span class="timeline-date">02-25</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/2nd.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령선거 2차 토론회</h3>
                                        <p>2차 초청후보 토론회(정치) 2월 25일(금) 오후 8시 LIVE MBC·KBS1·SBS 합동 생중계</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sin-timeline col-lg-6 col-md-6 text-center">
                               <span class="timeline-date">03-02</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/3rd.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령선거 3차 토론회</h3>
                                        <p>3차 초청후보 토론회(사회) 3월 2일(수) 오후 8시 LIVE MBC·KBS1·SBS 합동 생중계</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sin-timeline col-lg-6 col-md-6 text-center">
                               <span class="timeline-date">03-04~03-05</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/early.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령선거 사전투표일</h3>
                                        <p>3월 4일(금) ~ 3월 5일(토) 매일 오전6시 ~ 오후 6시<br/>
                                            코로나19 확진·격리 유권자는 오후 6시~ 오후 7시 30분</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sin-timeline col-lg-6 col-md-6 text-center">
                               <span class="timeline-date">03-09</span>
                                <div class="timeline-content">
                                    <img src="{% static 'img/time-line/0309.jpg' %}" alt="">
                                    <div class="timeline-text">
                                        <h3>제 20대 대통령 선거일</h3>
                                        <p>오전 6시 ~ 오후 6시 지정된 투표소에서 투표 <br/>
                                            코로나19 확진·격리 유권자는 오후 6시~ 오후 7시 30분</p>
                                        <a class="read-more" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer" class="social-area">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="footer-bottom-all">
                                <div class="col-lg-12 col-12 col-md-12">
                                    <div class="copyright-text text-center">
                                        <p>Copyright© 2021, All Right Reserved.Designed by <a href="https://hasthemes.com/"> HasThemes.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- start scrollUp
            ============================================ -->
            <div id="toTop">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
        
        
        
        
        
		<!-- jquery
		============================================ -->		
        <script src="{% static 'js/vendor/jquery-v2.2.4.min.js' %}"></script>
		<!-- Popper JS
		============================================ -->		
        <script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap JS
		============================================ -->		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- ajax mails JS
        ============================================ -->
        <script src="{% static 'js/ajax-mail.js' %}"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{% static 'lib/js/jquery.nivo.slider.js' %}"></script>
		<script src="{% static 'lib/home.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->		
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
